.nav-container {
  flex-grow: 1;
}
.custom-btn {
  padding: 12px 16px 12px 12px;
  border-radius: 8px;
  border: 1px solid #e5e5e5;
  background: #fff;
  display: flex;
  align-items: center;
  font-size: 14px;
  font-weight: 600;
  color: var(--Text-Gray1, #212121);
  margin-right: 8px;
  cursor: pointer;
}
.custom-btn:hover {
  background-color: #f0f0f0; 
  color: #333; 
  border-color: #ccc;
}

.custom-btn:active {
  background-color: #ddd;
  color: #222;
  border-color: #aaa;
}

.reset-btn {
  padding: 12px 16px 12px 12px;
  border-radius: 8px;
  border: 1px solid #e5e5e5;
  background: var(--Primary-Active, #04be8c);
  display: flex;
  align-items: center;
  font-size: 14px;
  font-weight: 600;
  color: var(--Background-White, #fff);
  cursor: pointer;
}
.reset-btn:hover {
  background-color: #1ed29c; /* Make the background color brighter on hover */
  border-color: #1ed29c; /* Change the border color on hover (you can adjust this) */
  color: #fff; /* Make the text color lighter on hover */
}

.reset-btn:active {
  background-color: #027d5f; /* Change the background color when the button is clicked */
  border-color: #026e52; /* Change the border color when the button is clicked */
}
.button-icon {
  width: 24px;
  height: 24px;
  color: var(--Icon-Gray2, #424242);
  margin-right: 8px;
}
.reset-icon {
  width: 24px;
  height: 24px;
  color: var(--Background-White, #fff);
  margin-right: 8px;
}
.nav-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #fff;
  border-bottom: 1px solid #eee;
  height: 80px;
}
.btn-row {
  display: flex;
  margin-right: 24px;
}
.playground-title {
  color: var(--Text-Gray-1, #212121);
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 36px;
  margin-left: 24px;
}
